.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.programTime {
  position: absolute;
  max-width: 100%;
}

.ProgramTime img {
  position: relative;
  max-width: 300px;
  max-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  left: 140px;
}

.PopisTime {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 80px;
}
